body {
  background-color: #fff;
  font-family: "Roboto Condensed",sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
ul li {
  list-style: none;
}



#header .top-bar img{
      width: 279px;
}
#header .top {
  background-image: url(../images/bg.png);
  repeat:;
}
#header ul{
    padding-left: 15px;
}
#header ul li {
  float: left;
}
#header ul li {
  padding-left:   10px;
  padding-right: 10px;

}
#header .bottom{
  background: #095ab5;
  height: 35px;

}
#header ul li a{
  line-height: 35px;
  color: white;
}
#header ul li ul {
  display: none;
}
#header .search{
  float: right;
    position: absolute;
    right: 5px;
    padding: 5px;
}

#slider {
  background-image: url(../images/map.png);
  background-repeat: no-repeat;
  background-position: right;
}

#slider .swiper-container {
  height: 600px;
}
